.footer{
    display: flex;
    justify-content: center;
    color: var(--color-letra);
    padding-top: 2rem;
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__rodape p{
    margin-top: 0;
}