.skills{
    display: flex;
    flex-direction: column;
}

.skills__title{
    text-align: center;
    color: var(--color-letra);
    font-size: 1.5rem;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
}

.skills__box{
    background-color: var(--color-claro);
    margin: 1rem;
    width: 40vw;
}
