.title{
    margin: 1rem;
}

.title__profile{
    height: 150px;
    width: 150px;
    background: url(/assets/perfil.png) no-repeat center / cover;
    border-radius: 100%;
}

.title__container{
    color: var(--color-letra);
}

.title__subsection{
    font-size: 1rem;
}

.title__network{
    display: flex;
    justify-content: space-around;
    padding: 0;
}